.idea/
*.old
results/
x86/
x64/
sysinfo.txt
rcf/
publish/
project.lock.json
project.fragment.lock.json
paket-files/
orleans.codegen.cs
nunit-*.xml
node_modules/
nCrunchTemp_*
mono_crash.*
ipch/
healthchecksdb
ehthumbs_vista.db
ehthumbs.db
ecf/
dlldata.c
csx/
crashlytics-build.properties
bld/
artifacts/
_pkginfo.txt
__pycache__/
_UpgradeReport_Files/
_TeamCity*
_ReSharper*/
_Pvt_Extensions
_NCrunch_*
[Tt]est[Rr]esult*/
[Rr]eleases/
[Rr]eleasePS/
[Rr]elease/
[Oo]bj/
[Ll]og/
[Ee]xpress/
[Dd]esktop.ini
[Dd]ebugPublic/
[Dd]ebugPS/
[Dd]ebug/
[Bb]uild[Ll]og.*
[Bb]in/
[Aa]ssets/**/csc.*
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]/
UpgradeLog*.htm
UpgradeLog*.XML
Thumbs.db:encryptable
Thumbs.db
TestResult.xml
Temporary Items
StyleCopReport.xml
ServiceFabricBackup/
PublishScripts/
Package.StoreAssociation.xml
OpenCover/
Network Trash Folder
MigrationBackup/
Icon
Generated_Code/
Generated\ Files/
FakesAssemblies/
ExportedObj/
DocProject/buildhelp/
DocProject/Help/html
DocProject/Help/Html2
DocProject/Help/*.hhp
DocProject/Help/*.hhk
DocProject/Help/*.hhc
DocProject/Help/*.HxT
DocProject/Help/*.HxC
ClientBin/
BundleArtifacts/
BenchmarkDotNet.Artifacts/
Backup*/
AutoTest.Net/
AppPackages/
ASALocalRun/
/[Uu]ser[Ss]ettings/
/[Tt]emp/
/[Oo]bj/
/[Mm]emoryCaptures/
/[Ll]ogs/
/[Ll]ibrary/
/[Bb]uilds/
/[Bb]uild/
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/Plugins/Editor/JetBrains*
.vscode/*
.vs/
.sass-cache/
.paket/paket.exe
.ntvs_analysis.dat
.mfractor/
.localhistory/
.history
.gradle/
.fseventsd
.fake/
.cr/personal
.consulo/
.com.apple.timemachine.donotpresent
.builds
.axoCover/*
.apdisk
._*
.VolumeIcon.icns
.Trashes
.TemporaryItems
.Spotlight-V100
.LSOverride
.JustCode
.DocumentRevisions-V100
.DS_Store
.AppleDouble
.AppleDesktop
.AppleDB
.*crunch*.local.xml
*~
*_wpftmp.csproj
*_p.c
*_i.c
*_h.h
*_REMOTE_*.txt
*_LOCAL_*.txt
*_BASE_*.txt
*_BACKUP_*.txt
*.xsd.cs
*.vssscc
*.vspx
*.vspscc
*.vsp
*.vbw
*.userprefs
*.userosscache
*.user
*.unityproj
*.unitypackage
*.tss
*.tmp_proj
*.tmp
*.tli
*.tlh
*.tlb
*.svd
*.svclog
*.suo
*.stackdump
*.snupkg
*.sln.docstates
*.sln
*.sdf
*.scc
*.sbr
*.sap
*.rsuser
*.rsp
*.rptproj.rsuser
*.rptproj.bak
*.rdl.data
*.pyc
*.pubxml
*.publishsettings
*.publishproj
*.psess
*.plg
*.pidb.meta
*.pidb
*.pgd
*.pgc
*.pfx
*.pdb.meta
*.pdb
*.pch
*.orig
*.opt
*.opensdf
*.opendb
*.odx.cs
*.obj
*.nvuser
*.nupkg
*.nuget.targets
*.nuget.props
*.ndf
*.ncb
*.msp
*.msm
*.msix
*.msi
*.mm.*
*.mdf
*.mdb.meta
*.mdb
*.log
*.lnk
*.ldf
*.jmconfig
*.jfm
*.ipdb
*.iobj
*.ilk
*.gpState
*.e2e
*.dotCover
*.dbproj.schemaview
*.dbmdl
*.csproj
*.coveragexml
*.coverage
*.cachefile
*.cab
*.build.csdef
*.btp.cs
*.btm.cs
*.booproj
*.binlog
*.bim_*.settings
*.bim.layout
*.azurePubxml
*.aps
*.appxupload
*.appxbundle
*.appx
*.apk
*.[Rr]e[Ss]harper
*.[Pp]ublish.xml
*.[Cc]ache
*.VisualState.xml
*.VC.db
*.VC.VC.opendb
*.REMOTE.*
*.LOCAL.*
*.GhostDoc.xml
*.DotSettings.user
*.BASE.*
*.BACKUP.*
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup ([0-9]).rdl
**/*.Server/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.DesktopClient/GeneratedArtifacts
$tf/
$RECYCLE.BIN/
!?*.[Cc]ache/
!/[Aa]ssets/**/*.meta
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
!.axoCover/settings.json
!**/[Pp]ackages/build/

